<div class="w-100 h-100 card mb-3 d-flex justify-content-center col-4">
  <div class="row g-0 d-flex p-2">
    <div class="col-9 d-flex">
      <div class="col-4 ">
        <img src="<%= channel.profile_image %>" style="object-fit: cover;" />
      </div>
      <div class="row col-8 m-2 text-start">
        <h5 class="card-title d-flex overflow-hidden align-items-center justify-content-start ">
          <%= channel.channel_name %>
        </h5>
      </div>
    </div>
    <div class="col-3 d-flex d-flex  align-items-center justify-content-center">
      <div type="button" class="btn btn-success d-flex align-items-center ">구독
      </div>
    </div>
  </div>
</div>