<div class="w-100 h-100 mb-3 d-flex justify-content-center col-4 channelInfoContainer">
  <div class="row g-0 d-flex p-2">
    <div class="col-9 d-flex nickNameBox">
      <div class="col-4 channelInfoImg">
        <img src="<%= channel.profile_image %>" style="object-fit: cover;" />
      </div>
      <div class="row col-8 m-2 text-start infoContentWrap">
        <h5 class="card-text d-flex overflow-hidden align-items-center justify-content-start ">
          <%= channel.channel_name %>
        </h5>
      </div>
    </div>
    <div class="col-3 d-flex d-flex   myChannelInfoSubDetail ">
      <div class="startLiveBtn">
        <button id="goToStudioBtn">구독</button>
      </div>
    </div>
  </div>
</div>