<div class="channelInfoContainer">
  <div class="nickNameBox">
    <div class="channelInfoImg">
      <img src="<%= channel.profile_image %>" />
    </div>
    <div class="infoContentWrap">
      <div class="myChannelNickname">
        <%= channel.channel_name %>
      </div>
      <div class="infoEtc"><span class="spacelLeft">
          <%= channel.description %>
        </span></div>
    </div>
  </div>

  <div class="myChannelInfoDetail">
    <div class="startLiveBtn"><button id="goToStudioBtn">구독</button></div>
  </div>
</div>