<footer>
  <h1 style="display: none">FOOTER</h1>
  <div class="memberWrap">
    <div class="meber">
      <span>김효진</span>
      <a href="https://github.com/hyojinkim2028"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
    </div>
    <div class="meber">
      <span>김도현</span>
      <a href="https://github.com/wolfram0407"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
    </div>
    <div class="meber">
      <span>유은지</span>
      <a href="https://github.com/eunji624"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
    </div>
    <div class="meber">
      <span>최수영</span>
      <a href="https://github.com/choisooyoung-dev"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
    </div>
  </div>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>
