<div>
    <h1 style="display: none">HEADER</h1>
    <div class="headerWrap">
        <div class="menuAndLogoWrap">
            <div class="logo">Li iT</div>
        </div>
        <div class="searchWrap">
            <div class="searchInputBox">
                <input class="searchInput" type="text" placeholder="스트리머, 게임 영상 검색" />
            </div>
            <div class="searchBtnBox">
                <button class="searchBtn" id="searchBtn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <div class="userBtnWrap">
            <div class="logoutBtn userBtn"><button id="logoutBtn">로그아웃</button></div>
            <div class="myInfoBtn userBtn"><button id="goToMyChannelBtn">내 채널</button></div>

            <div id="kakao">
                <a href="http://localhost:3002/api/auth/login/kakao">
                    <img class="loginBtn" src="/imgs/free-icon-kakao-talk-3991999.png" />
                </a>
            </div>
        </div>
    </div>
    </header>

    <script>
        axios.defaults.withCredentials = true;
        const myInfoBtn = document.querySelector('.myInfoBtn');
        //const myNotificationBtn = document.querySelector('.myNotificationBtn');
        const kakaoLoginBtn = document.querySelector('#kakao');
        const logoutBtn = document.querySelector('.logoutBtn');

        const searchBtn = document.querySelector('#searchBtn');
        const searchValue = document.querySelector('.searchInput');
        const getAccessToken = getCookie('Authorization');
        const AccessToken = `Bearer ${getAccessToken}`;
        if (!getAccessToken)
        {
            myInfoBtn.hidden = true;
            //myNotificationBtn.hidden = true;
            logoutBtn.hidden = true;
        } else
        {
            kakaoLoginBtn.hidden = true;
            logoutBtn.hidden = false;
            myInfoBtn.addEventListener('click', async () =>
            {
                const myId = await axios.get('/my-page',
                    {
                        withCredentials: true,
                        headers: {
                            authorization: AccessToken
                        }
                    })
                    .then((respones) =>
                    {
                        return respones.data
                    })
                const url = `http://localhost:3002/my-page/${myId}`
                window.location.href = url
            })

        }

        searchBtn.addEventListener('click', async () =>
        {
            const value = searchValue.value

            if (!value)
            {
                alert("Please enter a value!");
            } else
            {
                const url = `http://localhost:3002/search/${value}`
                window.location.href = url
            }
        })

        function getCookie(name)
        {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        document.querySelector('.logo').addEventListener('click', function ()
        {
            window.location.href = '/';
        });
    </script>