<div>
    <h1 style="display: none">HEADER</h1>
    <div class="headerWrap">
        <div class="menuAndLogoWrap">
            <div class="logo">Li iT</div>
        </div>
        <div class="searchWrap">
            <div class="searchInputBox">
                <input class="searchInput" type="text" placeholder="스트리머, 게임 영상 검색" />
            </div>
            <div class="searchBtnBox">
                <button class="searchBtn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <div class="userBtnWrap">
            <div class="logoutBtn userBtn" hidden>로그아웃</div>
            <div class="myInfoBtn userBtn"><button id="goToMyChannelBtn">내 채널</button></div>
            <!-- 알림버튼 토글 -->
            <div class="dropdown myNotificationBtn userBtn">
                <button data-bs-toggle="dropdown" data-bs-auto-close="false">알림</button>
                <ul class="dropdown-menu">
                    <!-- 알림 한 단위 -->
                    <li>
                        <div>
                            <div>
                                <div><라이브 시작 알림></div>
                                <div>✖️</div>
                            </div>
                            <div><span>레커</span> 님의 라이브가 시작되었습니다!</div>
                        </div>
                    </li>
                    <!--  -->
                    <li>
                        <div>
                            <div>
                                <div><라이브 시작 알림></div>
                                <div>✖️</div>
                            </div>
                            <div><span>응디</span> 님의 라이브가 시작되었습니다!</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <div><라이브 시작 알림></div>
                                <div>✖️</div>
                            </div>
                            <div><span>soo</span> 님의 라이브가 시작되었습니다!</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="myNotificationBtn" hidden>알림</div> -->
            <!-- <div id="naver" >
                <a href="http://localhost:3002/api/auth/login/kakao"><img class="loginBtn" src="/imgs/naverlogo.jpeg" /></a>
            </div> -->
            <div id="kakao" >
                <a href="http://localhost:3002/api/auth/login/kakao">
                    <img class="loginBtn" src="/imgs/free-icon-kakao-talk-3991999.png" />
                </a>
            </div>
            <!-- <div id="google" >
                <a href="http://localhost:3002/api/auth/login/kakao"><img class="loginBtn" src="/imgs/googlelogo.png" /></a>
            </div> -->
        </div>
    </div>
</header>

<script>
    document.querySelector('.myInfoBtn').addEventListener('click', function () {
        window.location.href = '/my-page/:channelId';
    });

    document.querySelector('.logo').addEventListener('click', function () {
        window.location.href = '/';
    });
</script>
