<div>
    <h1 style="display: none">HEADER</h1>
    <div class="headerWrap">
        <div class="menuAndLogoWrap">
            <div class="logo">라잇</div>
        </div>
        <div class="searchWrap">
            <%if(path=== '/search' ){ %>
                <div class="searchInputBox">
                    <input class="searchInput" type="text" value=<%=search %> />
                </div>
                <%}else{ %>

                    <div class="searchInputBox">
                        <input class="searchInput" type="text" placeholder="스트리머, 게임 영상 검색" />
                    </div>

                    <%} %>
                        <div class="searchBtnBox">
                            <button class="searchBtn" id="searchBtn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>



        </div>

        <div class="userBtnWrap">
            <div class="registerBtn userBtn"><button id="registerBtn">회원가입</button></div>
            <div class="defaultLoginBtn userBtn"><button id="loginBtn">로그인</button></div>
            <div class="logoutBtn userBtn"><button id="logoutBtn">로그아웃</button></div>
            <div class="myInfoBtn userBtn"><button id="goToMyChannelBtn">내 채널</button></div>

            <div id="kakao">
                <a id="kakaoLink" href=''>
                    <img class="loginBtn" src="/imgs/free-icon-kakao-talk-3991999.png" />
                </a>
            </div>
            
        </div>
    </div>
    </header>

    <script>
        axios.defaults.withCredentials = true
        const myInfoBtn = document.querySelector('.myInfoBtn')
        //const myNotificationBtn = document.querySelector('.myNotificationBtn');
        const kakaoLoginBtn = document.querySelector('#kakao')
        const registerBtn = document.querySelector('.registerBtn')
        const loginBtn = document.querySelector('.defaultLoginBtn')
        const logoutBtn = document.querySelector('.logoutBtn')
        const kakaoLink = document.getElementById('kakaoLink')
        const kakaoUrl = '/api/auth/login/kakao'
        const searchBtn = document.querySelector('#searchBtn')
        const searchValue = document.querySelector('.searchInput')
        const getAccessToken = getCookie('Authorization')
        // const AccessToken = `Bearer ${getAccessToken}`;

        kakaoLink.href = kakaoUrl

        if (!getAccessToken) {
            myInfoBtn.hidden = true;
            //myNotificationBtn.hidden = true;
            logoutBtn.hidden = true;
            registerBtn.addEventListener('click', () => {
                window.location.href="/register"
            })
            loginBtn.addEventListener('click', () => {
                window.location.href="/login"
            })
        } else {
            kakaoLoginBtn.hidden = true
            loginBtn.hidden = true
            registerBtn.hidden = true
            logoutBtn.hidden = false
            myInfoBtn.addEventListener('click', async () => {
                const myId = await axios.get('/my-page',
                    {
                        withCredentials: true,
                        headers: {
                            authorization: getAccessToken
                        }
                    })
                    .then((respones) => {
                        return respones.data
                    })
                const url = `/my-page/${myId}`
                window.location.href = url
            })

        }

        searchBtn.addEventListener('click', async () => {
            const value = searchValue.value

            if (!value) {
                alert("Please enter a value!")
            } else {
                const url = `/search/${value}`

                window.location.href = url
            }
        })

        logoutBtn.addEventListener('click', () => {
            document.cookie = 'Authorization' + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;'
            window.location.href = '/'
        })
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ))
            return matches ? decodeURIComponent(matches[1]) : undefined
        }
        document.querySelector('.logo').addEventListener('click', function () {
            window.location.href = '/'
        });
    </script>