<section class="videoSectionBox">
    <!-- <div class="mainVideoBox">
        <img
            src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDAxMDlfMjk3%2FMDAxNzA0Nzg1NzI2OTYx.8m463d4TOYanhMTyLJscbjh99_1vCDWuQsh5WXuvTmkg.air3VfUdXbSrA4Kf3ghmU_8BWgO24AQiwL0IxxbTe2Qg.PNG.haionnet486%2Fimage.png&type=sc960_832"
        />
        <div class="mainVideoBoxOver">
            <div class="mainoBoxOverTop">
                <div><img src="imgs/free-icon-live-1246264.png" /></div>
                <div style="margin-left: 20px; font-size: 1.5rem; line-height: 2.5; color: red; font-weight: 600">
                    <span>5959</span>명 시청
                </div>
            </div>
            <div style="font-size: 2rem; font-weight: 700">TEAM korea army 출격(w.크포 몽뀨 데드 TS)</div>

            <div style="display: flex; flex-direction: row; width: 600px; margin-top: 150px">
                <div style="width: 120px; height: 120px; border-radius: 50%">
                    <img
                        style="width: 100%; height: 100%; border-radius: 50%; border: 3px solid #faef9b"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzAzMTNfMjk3%2FMDAxNjc4NjcxMDU4MTQz.O-DXw3ulUy5DiLoeK8A19utgIU9e4jilZrXxBPBMM0wg.SjRPNZ4MRGmeRRPGStWxF873gEqP1O3UmaZR6fl1FWQg.PNG.witz_base%2F%25B4%25D9%25C0%25CC%25C8%25C4%25C4%25ED3.png&type=a340"
                    />
                </div>
                <div style="margin-left: 20px; margin-top: 10px">
                    <div style="font-size: 2rem; font-weight: 800">행돌</div>
                    <div style="font-size: 1.5rem; font-weight: 800; color: #faef9b">발로란트 플레이 중</div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="videoBoxWrap">
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
    </div>
</section>
