<!-- 비디오 박스 시작-->
<a href="/live/<%= live.live_id %>" class="videoBox">
    <div class="videoBoxTop">
        <div class="videoBoxTopImg">
            <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
        </div>
        <div class="videoThumbnail">
            <img src="/imgs/default/image.png" />
        </div>
    </div>
    <div class="videoBoxBottom">
        <div class="videoBoxBottomImgWrap">
            <img class="videoBoxBottomImg" src="/imgs/default/userIcon.jpg" />
        </div>
        <div class="videoBoxBottomInfo">
            <div><%= live.title %></div>
            <div class="videoBoxBottomNickname"><%= live.channel.channelName %></div>
        </div>
    </div>
</a>
<!-- 비디오박스 끝 -->
