<div class="sideBarContainer">
  <div class="recommendChannelsList">
    <h1 class="sideBarTitle">추천채널</h1>
    <div class="sideLiList">
      <div class="sideLi">
        <div class="sideLiImg">
          <img
            src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzEyMDZfMjU1%2FMDAxNzAxODM1MTgxMzg1.-PfE8kcFsl6aySJ0J3UxtQd5cPPzW9F9S4I0fZGSKFcg.40282WajavW2lH7HEvH6CdmPHcXf00FM7oplQQvM6c0g.PNG.gmoio%2F01.png&type=a340"
          />
        </div>
        <div>채널이름</div>
      </div>
      <div class="sidebarViews">+ 2,000</div>
    </div>
  </div>
  <div class="dummyContents1">
    <h1 class="sideBarTitle">탐색</h1>
    <div class="sideLi">
      <div class="dummyImg">
        <img src=" /imgs/rec.png" />
      </div>
      <div>전체 라이브</div>
    </div>
  </div>
  <div class="dummyContents2">
    <h1 class="sideBarTitle">서비스 바로가기</h1>
    <div class="sideLi">
      <div class="dummyImg">
        <img src="/imgs/game-control.png" />
      </div>
      <div>네이버 게임</div>
    </div>
    <div class="sideLi">
      <div class="dummyImg">
        <img src="/imgs/trophy.png" />
      </div>
      <div>e스포츠</div>
    </div>
    <div class="sideLi">
      <div class="dummyImg">
        <img src="/imgs/crown.png" />
      </div>
      <div>오리지널 시리즈</div>
    </div>
    <div class="sideLi">
      <div class="dummyImg">
        <img src="/imgs/pc-monitor.png" />
      </div>
      <div>PC 게임</div>
    </div>
    <div class="sideLi">
      <div class="dummyImg">
        <img src="/imgs/speech-bubbles.png" />
      </div>
      <div>라운지</div>
    </div>
  </div>
</div>
