<div class="InfoMainBox">
    <div class="channelInfoContainer spacelLeft">
        <div class="channelInfoImg">
            <img
                src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTAyMDVfMTY0%2FMDAxNTQ5MzM4NjIwNjc1.mzkfCyxtLSjd30KwM03TnQKuK6R0_YN_fEgum6keu_Ag.DmJQJt0KI2F3vHtgysCcienO83ENBNLCJI5JFmPoE90g.JPEG.koega%2F%25B3%25C8.jpg&type=a340"
            />
        </div>

        <div class="myChannelInfoDetail">
            <div class="col">
                <div class="myChannelNickname">즐겜중인 저승사자</div>
                <div class="infoEtc">팔로워359명<span class="spacelLeft">프로필수정 ></span></div>
            </div>
            <div class="myChannelInfo">
                <div class="startLiveBtn"><button id="goToStudioBtn">방송하기</button></div>
                <div class="channelSettingBtn spacelLeft">채널관리</div>
            </div>
        </div>
    </div>

    <div class="homeBox">
        <!-- 비디오 박스 시작-->
        <div class="videoBox">
            <div class="videoBoxTop">
                <div class="videoBoxTopImg">
                    <img class="liveImage" src="/imgs/free-icon-live-1246264.png" />
                </div>
                <div class="videoThumbnail">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMjZfMTA1%2FMDAxNjQ4MjgxOTA4NjU4.XSARTp9bx4QDc4OtOHmYZcsd8LkTAs2F-mZgXHgmKEcg.aypi_erZ1qcwZVaAzTYhkYedSkKP2dT8hnzpDz7WfQYg.PNG.kplayer02%2F3.png&type=a340"
                    />
                </div>
            </div>
            <div class="videoBoxBottom">
                <div class="videoBoxBottomImgWrap">
                    <img
                        class="videoBoxBottomImg"
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMThfMTY4%2FMDAxNzAwMjM2NjYwMDU2.zDEZy1sYaQiP9pLY6DqKve0U1kKH_7ASF-ESpm9P-Qkg.LePJ3k_0rhE5J9c7Nll3tl7xH5x50K5U6jxywPERD8wg.PNG.sso_mi__0_0%2F%25BE%25D5.png&type=a340"
                    />
                </div>
                <div class="videoBoxBottomInfo">
                    <div>감옥에서 탈출하는 게임</div>
                    <div class="videoBoxBottomNickname">풍월량</div>
                </div>
            </div>
        </div>
        <!-- 비디오박스 끝 -->
    </div>
    <script defer src="/script/channelInfo.js"></script>
</div>
