<div class="InfoMainBox">
    <div class="channelInfoContainer spacelLeft">
        <div class="channelInfoImg">
            <img
                src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTAyMDVfMTY0%2FMDAxNTQ5MzM4NjIwNjc1.mzkfCyxtLSjd30KwM03TnQKuK6R0_YN_fEgum6keu_Ag.DmJQJt0KI2F3vHtgysCcienO83ENBNLCJI5JFmPoE90g.JPEG.koega%2F%25B3%25C8.jpg&type=a340"
            />
        </div>

        <div class="myChannelInfoDetail">
            <div class="col">
                <div class="myChannelNickname">즐겜중인 저승사자</div>
                <div class="infoEtc">팔로워359명<span class="spacelLeft" style="color: black; font-weight: 500">프로필수정 ></span></div>
            </div>
            <div class="myChannelInfo">
                <div class="startLiveBtn"><button id="goToStudioBtn">방송하기</button></div>
                <div class="channelSettingBtn spacelLeft">채널관리</div>
            </div>
        </div>
    </div>

    <div class="homeBox">채널 홈화면</div>
</div>
