<div class="container mb-5">
  <h3 class="w-100 text-start">
    채널
  </h3>
  <% if(searchs.channelSearch.length){ %>

    <% searchs.channelSearch.forEach((channel,index)=> { %>
      <% if (index===0){%>

        <div class="col-12"><%- include('./modules/first-channel-card.ejs',{channel:channel}) %></div>
        <% } else {%>
          <div class="col-4 mt-3" style="height: 120px;">
            <%- include('./modules/channel-card.ejs',{channel:channel})%>
          </div>
          <% } %>
            <% }) %>
              <% }else { %>

                <div class="card mb-5">
                  <div class="card-body">
                    <div style="display: flex;">
                      <div>
                        <p class="ms-3 text-center card-text ">
                          검색 값이 없습니다
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <% } %>
</div>