<div class="container">

  <h3>채널</h3>
  <div class="card">
    <div class="card-body">
      <div style="display: flex;">
        <div class="card-title channelInfoImg">
          <img
            src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTAyMDVfMTY0%2FMDAxNTQ5MzM4NjIwNjc1.mzkfCyxtLSjd30KwM03TnQKuK6R0_YN_fEgum6keu_Ag.DmJQJt0KI2F3vHtgysCcienO83ENBNLCJI5JFmPoE90g.JPEG.koega%2F%25B3%25C8.jpg&type=a340" />
        </div>
        <div>
          <p class="ms-3 text-start card-text display-center">
            <%= findValue.findNickname %>
          </p>
        </div>
      </div>
    </div>
  </div>


</div>