<div class="liveMasterWrap">
    <div class="channelId" style="display: none"><%= channel.channelId %></div>
    <div class="liveMasterMainBox">
        <div class="liveMasterVideoBox">
            <div id="call">
                <div id="myStream">
                    <video id="video" autoplay width="100%" height="777px" controls></video>
                </div>
            </div>
        </div>

        <div class="liveMasterSettingBox">
            <div class="masterSettingBoxLeft">
                <div class="masterSettingTitle">
                    <span>제목</span>
                    <input id="streamingTitle" type="text" placeholder="방송 제목 입력해주세요." />
                </div>
                <div class="masterSettingDesc">
                    <span>내용</span>
                    <input id="streamingDesc" type="text" placeholder="방송 상세정보를 입력해주세요." />
                </div>
            </div>
            <div class="MasterSettingBoxRight">
                <div class="broadcastBtn">
                    <div class="broadcastBtnImg">
                        <img src="/imgs/facetime-button (1).png" />
                    </div>
                    <div class="broadcastBtnDesc">
                        <button id="liveStartBtn">방송시작</button>
                    </div>
                </div>
                <div class="broadcastCloseBtn" hidden>
                    <div class="broadcastBtnImg"><img src="/imgs/facetime-button (1).png" /></div>
                    <div class="broadcastCloseBtnDesc">
                        <button id="liveEndBtn">방송종료</button>
                    </div>
                </div>
                <!-- <div class="masterSettingBtn">
                    <img src="/imgs/settings-cogwheel-button.png" />
                    방송설정
                </div> -->
            </div>
        </div>
    </div>
    <div class="liveChatBox" id="liveChatBoxContainer">
        <div class="chatTitle">채팅</div>
        <div class="chatMain" id="chatBoxWrapStreaming">
            <div class="chatBox" id="chatBox">
                <div class="chatList" id="oneChat">
                    <div class="chatNickname" id="chatNickname">방정맞은 라이언</div>
                    <div class="chatText" id="chatText">대박이네요!!</div>
                </div>
            </div>
            <div class="chatInput streamingChatInputWrap">
                <input
                    type="text"
                    id="chatInputStreamerPage"
                    class="chatInputText"
                    style="width: 80%; font-size: 20px; color: whitesmoke; border-radius: 10px"
                />
                <button id="sendChatBtnStreamerPage">전송</button>
            </div>
        </div>
    </div>
</div>
<script defer src="/script/streaming.js"></script>
<script defer src="/script/chat.js"></script>
