/*#showContent {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

#chatComment {
  height: 30px;
  width: 200px;
  border: transparent;
  background-color: aliceblue;
}

#Live1,
#Live2,
#Live3 {
  background-color: beige;
  margin: 20px;
  height: 30px;
  width: 100px;
}

#outChat,
#sendChat {
  border-radius: 3px;
  border: transparent;
  background-color: black;
  color: white;
  height: 30px;
  width: 80px;
}*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}
*,
:after,
:before {
    box-sizing: border-box;
}
:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}
html,
body {
    width: 90%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #141517;
    color: #dfe2ea;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
    outline: none;
    color: #dfe2ea;
}

a:hover,
a:active {
    text-decoration: none;
    color: #dfe2ea;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.laitBox {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.headerWrap {
    /* width: 100vw; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 150px;
}
.menuAndLogoWrap {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.searchWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 80px;
}

.searchInput {
    width: 400px;
    height: 45px;
    font-size: 15px;
    background-color: #141517;
    border-radius: 50px;
    border: 1px solid #9da5b6;
    text-align: center;
}

.searchInput::placeholder {
    font-size: 15px;
    text-align: center;
}

.searchBtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.userBtnWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userBtnWrap > div {
    margin-right: 20px;
}

.userBtn {
    cursor: pointer;
    text-align: center;
    border: 1px solid #9da5b6;
    padding: 10px;
    border-radius: 10px;
}

.dropdown-menu {
    width: 400px;
    background-color: transparent;
    border-radius: 20px;
}

.dropdown-menu > li {
    background-color: #032d3cbd;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 10px;
}

.loginBtn {
    background-color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.loginBtn > img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.logo {
    font-weight: 700;
    color: #ffe062;
}

.main__inner {
    max-width: 1400px;
    min-width: 1000px;
}

/* MAIN */

.videoBoxWrap {
    /* margin-left: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
    text-align: center;
}

.videoBox {
    height: 250px;
    cursor: pointer;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.videoBoxTop {
    margin-bottom: 20px;
    position: relative;
    bottom: 50px;
    height: 210px;
}

.videoBoxTopImg {
    position: relative;
    top: 60px;
    left: 10px;
    z-index: 1;
}

.videoBoxBottom {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* margin-top: 350px; */
    /* width: 330px; */
}

.videoBoxBottomImgWrap {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-right: 20px;
}

.videoBoxBottomImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #ffe062;
}

.videoBoxBottomNickname {
    color: rgba(255, 255, 255, 0.73);
    font-weight: 800;
    font-size: 20px;
}

/* FOOTER */
.footerBox {
    border-top: 1px solid #9da5b6;
}
.memberWrap {
    border-top: 1px solid #9da5b6;
    height: 200px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meber {
    font-size: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-github:hover {
    color: #ffe062;
}

/* live page */

.liveMainBox {
    width: 1800px;
    height: 1110px;
    display: flex;
    flex-direction: row;
}

.liveVideoBox {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.videoSetting {
    border-top: 1px solid white;
    padding-top: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting1 {
    width: 23%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
.setting1 > div {
    align-items: center;
    height: 80%;
}
.setting1 > div > img {
    width: 35px;
    height: 35px;
}
.liveSign {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.801);
}
.setting2 {
    width: 9.5%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
.setting2 > div {
    align-items: center;
    height: 80%;
}

.settingBtn {
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.wideBtn {
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 13px;
}

.liveStreamerInfo {
    background-color: #191b1d;
    width: 100%;
    height: 320px;
}

.liveTitle {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}
.streamerInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 230px;
}

.streamerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}

.streamerImg > img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #ffe062;
}
.streamerInfoDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 82%;
    height: 230px;
}
.streamerNickname {
    width: 82%;
    height: 40%;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 700;
}
.streamerTheme {
    width: 82%;
    height: 20%;
    font-size: 25px;
    font-weight: 600;
    color: #ffe062;
}
.streamInfo {
    display: flex;
    flex-direction: row;
    width: 82%;
    height: 30%;
    color: rgba(255, 255, 255, 0.727);
    font-size: 25px;
    font-weight: 400;
}
.liveChatBox {
    background-color: #292a2e;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#sendChatBtn {
    width: 90px;
    height: 65%;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 18px;
    line-height: 2.5;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
}
.record {
    width: 250px;
    height: 43px;
    text-align: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    color: black;
    font-weight: 700;
    line-height: 1.8;
}

.chatTitle {
    border: 0.2px solid #9da5b631;
    height: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.857);
}

.chatMain {
    border: 0.2px solid #9da5b631;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatBox {
    margin-top: 10px;
    /* border: 0.2px solid #9da5b631; */
    width: 90%;
    height: 90%;
}

.chatInput {
    width: 90%;
    height: 8%;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
#chatInputText {
    width: 10px;
}

.chatInput > input {
    padding-left: 20px;
}

#chatInput {
    width: 100%;
    height: 62px;
    background-color: #1b1b1d;
    border: none;
    border-radius: 20px;
}

.chatList {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chatNickname {
    color: #ffe062;
    font-weight: 500;
    margin-right: 20px;
}

/* myPage */

.InfoMainBox {
    width: 100vw;
    /*margin-top: 70px;*/
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nickNameBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoContentWrap {
    display: flex;
    flex-direction: column;
}

.inChannelVideoBox {
    margin-top: 0px;
}

.channelInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.channelInfoImg {
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
}

.channelInfoImg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.infoEtc {
    margin-left: 5px;
    font-weight: 500;
}
.myChannelInfoDetail {
    color: #dfe2ea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
}

.myChannelNickname {
    font-size: 2.5rem;
    font-weight: 900;
    color: #dfe2ea;
}
.myChannelInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.startLiveBtn,
.channelSettingBtn {
    width: 120px;
    height: 43px;
    text-align: center;
    border: 1px solid #9da5b6;
    border-radius: 20px;
    color: #dfe2ea;
    font-weight: 500;
    line-height: 1.8;
    padding-top: 5px;
}

.startLiveBtn {
    margin-right: 20px;
}

.homeBox {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0 50px 0;
}

/* 라이브 생성화면 */
.liveMasterWrap {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 100px;
}

.liveMasterMainBox {
    /* display: flex; */
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.liveMasterVideoBox {
    background-color: rgb(11, 11, 11);
    width: 100%;
    height: 70%;
}

.liveMasterVideoBoxSetting {
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.liveMasterSettingBox {
    width: 100%;
}
.masterSettingLeft {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
}
.masterSettingLeft > img {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.volume {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    accent-color: red;
}

.masterSettingRight {
    width: 10%;
    height: 100%;
    margin-bottom: 20px;
}

.masterSettingRight > img {
    width: 100px;
    /* height: 40px; */
}

.liveMasterSettingBox {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
}

.masterSettingTitle {
    font-size: 2rem;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.masterSettingTitle > img {
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.MasterSettingBoxRight {
    width: 18%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.broadcastBtn,
.broadcastCloseBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffe062;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-weight: 700;
    width: 80%;
    height: 70px;
}

.broadcastBtnImg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.broadcastCloseBtn > img {
    width: 40px;
    height: 40px;
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
}
.masterSettingBtn {
    display: flex;
    flex-direction: row;
    background-color: rgb(85, 85, 85);
    margin-top: 10px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 2.2;
    font-weight: 600;
}

.masterSettingBtn > img {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
}
.liveMasterChatBox {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 30%;
    height: 100%;
}

.chatTitle {
    width: 100%;
    border-bottom: 1px solid #9da5b6;
    padding: 10px 0 10px 0;
}

.chatMain {
    width: 100%;
    border: none;
}

.chatList {
    border: none;
}

.ch-videoBox {
    width: 300px;
    height: 150px;
}

/*채널셋팅*/
#channelSettingSaveBtn {
    width: 120px;
    height: 43px;
    text-align: center;
    border: 1px solid #9da5b6;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    line-height: 1.8;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#channelInfoSettingWrap {
    width: 65vw;
    height: 110%;
    border-radius: 20px;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.channelInfoSettingInput {
    margin: 20px;
    width: 50vw;
    background-color: rgb(85, 85, 85);
}
#streamKeyValue {
    display: flex;
    text-align: left;
}
.input-group-text {
    width: 90px;
}

#channelInfoTitle {
    margin: 20px auto 0px auto;
}
#channelInfoSettingText {
    width: 50vw;
    height: 200px;
    max-height: 200px;
    min-height: 200px;

    border-radius: 10px;
    padding: 15px;
    color: black;
    font-size: 18px;
}

#channelInfoSettingImage {
    background-color: #f8f9fa;
    border-radius: 10px;
}

#inputGroupFileAddon04 {
    color: black;
    border-left: transparent;
    border: 1px solid #f8f9fa;

    /*border-left: #eef1f3;*/
}

#inputGroupFileAddon04:hover {
    color: black;
    background-color: #f8f9fa;
    margin: 2px;
    border: transparent;
}

#streamKeyGetNew {
    color: black;
    border-left: transparent;
    background-color: #f8f9fa;
    width: 80px;
}

#streamKeyGetNew:hover {
    color: #f8f9fa;
    background-color: black;
    margin: 2px;
    border: transparent;
}
